* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", ui-sans-serif;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: clip;
}

.top-content,
.my-work {
  padding-left: 50px;
  padding-right: 50px;
}

.top-content {
  margin-bottom: 35px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;

  position: relative;
}

.tilted-background {
  width: 200%;
  height: 150%;

  margin-left: -500px;
  margin-top: -600px; /* just change this on each media query */

  position: absolute;

  transform: rotate(-10deg);
  z-index: -1;

  background-color: cadetblue;

  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.6);
}

.info {
  display: flex;
  align-items: center;

  height: 100%;
}

.pic-container {
  height: 100%;

  position: relative;
}

.pic-container img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.name {
  position: absolute;

  width: 100%;
  margin-top: -90px;

  text-align: center;

  font-size: 3.5em;
}

h1 {
  margin-bottom: 20px;
}

.about-me {
  min-height: 350px;

  padding-top: 40px;
  padding-right: 40px;
  padding-left: 20px;

  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.5);

  background-color: #ffffff;
}

.about-me > p {
  min-height: 190px;

  font-size: 1.2em;
}

.socials {
  display: flex;
  justify-content: flex-end;

  margin-top: 30px;

  gap: 15px;
}

.socials img {
  width: 30px;
}

h2 {
  font-size: 2em;

  margin-bottom: -30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;

  min-width: 260px;

  margin-top: 35px;

  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.card > .placeholder-img {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;

  background-color: rgb(85, 95, 100);
  color: #fff;

  text-align: center;
}

.project-info {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.project-info > .info-header {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btns > img,
.header-btns > svg {
  width: 25px;
}

.project-info > .info-text {
  width: 200px;
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .tilted-background {
    margin-left: -200px;
    margin-top: -550px;
    transform: rotate(-15deg);
  }
}
